.gallery {

    @include breakpoints-up(large) {
        margin-top: 100px;
    }

    @include breakpoints-down(medium) {
        margin-top: 50px;
    }

  &__main {

     @include breakpoints-down(small) {
        flex-direction: column;
     }
  }  

  &__description {
    margin-right: 80px;

     span:first-child {
        text-transform: uppercase;
        color: $teal;
    }
    
    h1:nth-child(2) {
        color: $lightDarkBlue;
        margin-top: 20px;

        @include breakpoints-down(medium) {
            font-size: 20px;
        }
     }

     p:last-child {
        line-height: 1.5;
     }
  }

  &__grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;

     @include breakpoints-down(medium) {
        grid-template-columns: repeat(2, 1fr);
     }

     @include breakpoints-down(small) {
        grid-template-columns: 1fr;
     }
  }

  &__image {
    min-width: 226px;
    height: auto;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 150ms ease-in-out;

    @include breakpoints-down(small) {
        width: 100%;
        height: 200px;
    }

    &:hover {
      transform: scale(1.05);
    }

  }
}
