.header {
  &__content {
    margin-bottom: 0.625rem;

    @include breakpoints-down(medium) {
       flex-direction: column;
    }
  }

   &.open {

     .overlay {
        display: block;
     }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
  
      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
      
    }
  }

   .overlay {
     opacity: 0;
     position: fixed;
     top: 16.125rem;
     bottom: 0;
     right: 0;
     left: 0;
     background-image: linear-gradient($darkBlue, transparent);
  }


  &__title {
    p {
      > a {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }

  &__details {
    p {
      > span {
        color: $primary-color;
      }
    }
  }

  &__image {
    img {
      width: 2.1875rem;
      height: 2.1875rem;
    }
    &__container {
        margin-left: 0.5rem;

      span {
        font-size: 1rem;
        color: $lightDarkBlue;
        &:last-child {
          color: $lightGray;
          font-size: 0.875rem;
        }
      }
    }
  }

//   nav {
//     position: relative;
//     background-color: $white;
//   }

  &__link {
     a {
      font-size: 19px;
      font-weight: bold;
      transition: color 200ms ease-in-out;
  
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
  
      &:hover {
        color: $primary-color;
      }
    }
  }

   &__logo {
    position: relative;
  
    img {
      width: 3.75rem;
      height: auto;
      margin-left: 100px;
    }
  
    h3 {
      position: absolute;
      left: 53%;
      transform: translatey(-60%);
      margin: 0.625rem;
      font-size: 1.5625rem;
      font-weight: bold;
      color: $lightDarkBlue;
    }

     @include breakpoints-down(medium) {
         img {
            margin-left: 0;
            width: 4.0625rem;
            height: auto;
         }
  
         h3 {
            left: -7%;
            transform: translatey(-100%);
            font-size: 1rem;
         }
     }
 } 

   &__toggle {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;
  
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    position: absolute;
    padding: 1.625rem;
    margin-top: 40px;
    background: $white;
    border-radius: 5px;
    
     a{
        color: $lightDarkBlue;
        padding: 0.625rem;
        display: block;
        text-align: center;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $primary-color;
        }
     }
  }
}
