$primary-color:#f43f5e;
$lightGray: #a8a29e;
$darkBlue: hsl(233, 26%, 24%);
$lightDarkBlue: #1e3a8a;
$white: hsl(0, 0%, 100%);
$lightyellow:#facc15;
$skylightblue: #0ea5e9;
$lime: #a3e635;
$slate: #e2e8f0;
$teal: #5eead4;
$Gray: #f3f4f6;
$Cyan: #67e8f9;

// font sizes
$font-lg: 1.1875rem;
$font-med: 1rem;
